<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="S.R.Manikandasriram">

    <title>Municipalithree | Ericsson IDP @ Shaastra 2014 </title>

    <!-- Bootstrap core CSS -->
    <link href="{{static_url}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{static_url}}css/browse.css" rel="stylesheet">
		<style type="text/css" title="currentStyle">
			@import "{{static_url}}css/demo_page.css";
			@import "{{static_url}}css/demo_table_jui.css";
			@import "{{static_url}}css/jquery-ui-1.8.4.custom.css";
		</style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{static_url}}js/html5shiv.js"></script>
      <script src="{{static_url}}js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site_url}}#">Municipalithree</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{site_url}}browse/" class="btn">Browse Complaints</a></li>
            <li><a href="{{site_url}}stats/" class="btn">Statistics</a></li>
          </ul>
<!--          { if user }
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{user.nickname}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="{logout_url}">Logout</a></li>
              </ul>
            </li>
          </ul>
          { else }
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{login_url}" class="btn">Sign in</a></li>
          </ul>
          { endif }-->
        </div>
      </div>
    </div>
    <div id="wrap">
      <div class="container">
        <div style="height:60px;"></div>
        <div class="row">
          <h3> Complaints so far... </h3>
          <table id="complaints" class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Location</th>
                <th>Status</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              {% for c in complaints %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{c.title}}</td>
                <td>{{c.desc}}</td>
                <td>{{c.add}}</td>
                <td>{{c.status}}</td>
                <td>{{c.remarks}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted">Developed by <a href="#">Team Municipalithree</a> for Ericsson IDP @ <a href="http://www.shaastra.org">Shaastra 2014</a></p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{static_url}}js/jquery-1.10.2.min.js"></script>
    <script src="{{static_url}}js/bootstrap.min.js"></script>
		<script type="text/javascript" language="javascript" src="{{static_url}}js/jquery.dataTables.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
        oTable = $('#complaints').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers"
        });
			});
		</script>
  </body>
</html>
